.container-contacto{
    position: relative;
    margin-top: 6rem;
    width: 100%;
    max-width: 1400px;
}
.contacto{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width: 80%;
}
.vector-circle{
    right: 77%;
    top: -15%;
    position: absolute;
    width: 35%;
}
.vector-circle img{
    position: absolute;
    width: 100%;
}
.contacto-info{
    display: flex;
    justify-content: center;
    width: 90%;
}
.contect-contacto{
    width: 80%;
    display: flex;
    justify-content: center;
}
.telefono{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
}
.telefono p{
    margin: 1rem;
    text-align: center;
}
.telefono img{
    background-color: #F26440;
    border-radius: 50%;
    padding: 20%;
    width: 70%;
}
.correo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
}
.correo img{
    margin: 0rem auto;
    background-color: #F26440;
    border-radius: 50%;
    padding: 15%;
    width: 40%;
}
.correo p{
    margin: 1rem;
    text-align: center;
}
.title-contacto{
    display: flex;
    justify-content: center;
}
.contacto-h2{
    width: 50rem;
    font-size: 2.9rem;
    color: #286f6c;
    padding-bottom: 3rem;
    margin: 0;
}
.color-verde-grosor{ 
    color: #286f6c;
    font-weight: 700;
}
.color-gris-p{
    color: #adadad;
}
@media (max-width: 744px) {
    .telefono img{
        background-color: #f26440;
        border-radius: 50%;
        padding: 2rem;
        width: 7.5rem;
    }
    .telefono{
        position: relative;
    }
}
@media  (max-width: 438px){
    .telefono img{
        margin: 0rem auto;
        background-color: #f26440;
        border-radius: 50%;
        padding: 2rem;
        width: 5rem;
    }
}
@media  (max-width: 335px){
    .telefono img{
        margin: 0rem auto;
        background-color: #f26440;
        border-radius: 50%;
        padding: 2rem;
        width: 4rem;
    }
}
@media (max-width: 911px) {
    .vector-circle{
        left: -9rem;
        top: -3rem;
        width: 20rem;
    }
}
@media (max-width: 380px) {
    .vector-circle{
        left: -5rem;
        top: -2rem;
        width: 16rem;
    }
}
@media (max-width: 911px) {
    
}
@media (max-width: 911px) {
    
}
@media (max-width: 911px) {
    
}