*{
    font-family: Inter, sans-serif;
    margin: 0;
}
.color-rosa{
    color: #fef2f2;
}
.color-naraja{
    color: #f26440;
}
.color-verde{
    color: #286f6c;
}
.color-gris-oscuro{
    color: #adadad;
}
.color-blaco{
    color: #ffffff;
}
.color-gris-claro{
    color: #f9f5f2;
}
.estilo-parrafo{
    color: #adadad;
    line-height: 1.6rem;
    font-size: 1.13rem;
    text-align: justify;
}
.estilos-h2{
    font-size: 2.9rem;
    color: #286f6c;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.estilo-parrafo-pequeño{
    color: #adadad;
    font-size: 0.9rem;
}
.estilo-h3{
    color: black;
}
.caja-segunda{
    width: 50rem;
    margin: 0rem 2rem 0rem 2rem;
}
.caja-primera{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.zoom{
    transition: transform 0.5s;
}
.zoom:hover{
    transform: scale(1.1);
}
.espacio-2rem{
    padding-top: 2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
​
.col-12 {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-11 {
    width: calc(100% / 12 * 11);
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-10 {
    width: calc(100% / 12 * 10);
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-9 {
    width: calc(100% / 12 * 9);
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-8 {
    width: calc(100% / 12 * 8);
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-7 {
    width: calc(100% / 12 * 7);
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-6 {
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-5 {
    width: calc(100% / 12 * 5);
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-4 {
    width: 33.33%;
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-3 {
    width: 25%;
    padding: 1rem;
    box-sizing: border-box;
}
​
.col-2 {
    width: 50%;
    box-sizing: border-box;
}
​
.col-1 {
    width: calc(100% / 12);
    padding: 1rem;
    box-sizing: border-box;
}