.footer{
    width: 100%;
    margin-top: 5rem;
}
.text-footer{
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
    color: #f26440;
}
.text-footer P{
    font-size: 1.3rem;
}
@media (min-width: 1467px){
    .footer{
        margin-top: 8rem;
    }
}
@media (max-width: 1115px) {
    .footer{
        margin-top: 2rem;
    }
}

