body{
    margin-top: 0;
}
.container-all-home{
    width: 100%;
    margin: 0rem auto;
    max-width: 1400px;
    background-color: #fef2f2;
}
.home{
    width: 80%;
    margin: 0rem auto;
    position: relative;
    background-color: #fef2f2;
    z-index: 99;
    text-align: center;
}
.home .img-home-pc{
    width: 100%;
}
.img-home-tablet{
    display: none;
}
.img-home-mobile{
    display: none;
}
.home-boton-linkedin{
    position: absolute;
    width: 6.5%;
    top: 47.86%;
    left: 2.7%;
    z-index: 102;
}
.home-boton-linkedin img{
    width: 100%;
    height: auto;
}
.home-boton-instagram{
    position: absolute;
    width: 6.5%;
    top: 47.3%;
    left: 13%;
    z-index: 102;
}
.home-boton-instagram img{
    width: 100%;
    height: auto;
}
.home-boton-twitter{
    position: absolute;
    width: 6.5%;
    top: 47.86%;
    left: 23.7%;
    z-index: 102;
}
.home-boton-twitter img{
    width: 100%;
    height: auto;
}
.zoom{
    transition: transform 0.5s;
}
.zoom:hover{
    transform: scale(1.2);
}
@media (max-width: 766px) {
    .img-home-pc{
        display: none;
    }
    .img-home-tablet{
        display: block;
        width: 100%;
    }
    .home-boton-linkedin{
        width: 9.3%;
        top: 37.9%;
        left: 10.1%;
        z-index: 102;
    }
    .home-boton-instagram{
        width: 9.3%;
        top: 55.9%;
        left: 10.1%;
        z-index: 102;
    }
    .home-boton-twitter{
        width: 9.3%;
        top: 74.9%;
        left: 10.5%;
        z-index: 102;
    }
}
@media (max-width: 454px) {
    .img-home-pc{
        display: none;
    }
    .img-home-tablet{
        display: none;
    }
    .img-home-mobile{
        display: block;
        width: 100%;
    }
    .home-boton-linkedin{
        width: 15%;
        top: 35.9%;
        left: 0%;
        z-index: 102;
    }
    .home-boton-instagram{
        width: 15%;
        top: 50.9%;
        left: 0%;
        z-index: 102;
    }
    .home-boton-twitter{
        width: 15%;
        top: 66.9%;
        left: 0%;
        z-index: 102;
    }
}


