.hidden{
    display: none;
}
nav{
    text-align: right;
    padding: 2rem 2rem;
    background-color: #fef2f2;
    position: relative;
}
nav button{
    border: 0;
    border-radius: 20%;
    padding: 0.3rem;
    background-color: transparent;
    cursor: pointer;
}
nav button:hover{
    background-color: #f6c1c1;
}
nav ul{
    list-style: none;
    text-align: center;
    position: absolute;
    background-color: #fef2f2;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    z-index: 999;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #286f6c;
}
nav li{
    margin: 0rem 0rem 2.5rem 0rem;
}
@media (min-width: 768px) {
    #nav li{
        display: inline-block;
        margin: 0rem;
    }
    #nav{
        display: block;
        text-align: right;
        position: static;
        background-color: transparent;
    }
    nav button{
        display: none;
    }
    nav a{
        margin: 0rem 0.8rem;
    }
}
@media (min-width: 992px) {
    nav a{
        margin: 0rem 2rem;
    }
}