.container-all-habilidades{
    width: 100%;
    margin: 0rem auto;
    max-width: 1600px;
    position: relative;
}
.posicion-title-habilidades{
    position: absolute;
    margin: 0rem auto;
}
.container-habilidades{
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: end;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: 16%;
    margin-left: 0%;
    margin-top: 9rem;
}
.card {
    flex: 0 0 auto;
}
.card h3{
    margin: 1rem 1rem 1.5rem 1rem;
}
.card p{
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    color: #adadad;
    font-size: 0.86rem;
}
.card{
    background-color: #fef2f2;
    width: 13rem;
    height: 17rem;
    margin-right: 1rem;
}
.card-text{
    margin: 0; 
    padding: 0rem 1rem 1rem 1rem;
}
.title-habilidades{
    position: absolute;
    width: 100%;
    margin: 0rem auto;
    top: 8.86%;
    z-index: 302;
    /* background-color: aqua; */
}
.title-habilidades h2{
    width: 56rem;
    margin: 0rem auto;
    font-size: 2.9rem;
    color: #286f6c;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.title-habilidades span{
    color: white;
}
.container-vectores{
    position: relative;
    width: 30%;
}
.vector-naranja-habilidades{
    position: absolute;
    width: 114%;
    top: 0%;
    left: -35%;
    z-index: 301;
}
.v-n-h{
    width: 100%;
}
@media (max-width: 1146px) {
    .title-habilidades h2{
        width: 54rem;
    }
}
@media (max-width: 1087px) {
    .title-habilidades h2{
        width: 52rem;
    }
}
@media (max-width: 1019px) {
    .title-habilidades h2{
        width: 50rem;
    }
}
@media (max-width: 943px) {
    .title-habilidades h2{
        width: 48rem;
    }
}
@media (max-width: 881px) {
    .title-habilidades h2{
        width: 46rem;
    }
    .title-habilidades{
        position: absolute;
        width: 100%;
        margin: 0rem auto;
        top: 3.86%;
        z-index: 302;
    }
}
@media (max-width: 819px) {
    .title-habilidades h2{
        width: 30rem;
        margin-left: 3.7rem;
    }
    .title-habilidades{
        top: 2.86%;
    }
}
@media (max-width: 541px) {
    .title-habilidades h2{
        font-size: 2.6rem;
        width: 20rem;
        margin-left: 3.7rem;
    }
}
@media (max-width: 393px) {
    .title-habilidades h2{
        font-size: 2.6rem;
        width: 20rem;
        margin-left: 2.5rem;
    }
}
@media (max-width: 370px) {
    .title-habilidades h2{
        margin-left: 1.5rem;
    }
}
@media (min-width: 1400px) {
    .title-habilidades h2{
        width: 54rem;
    }
}
@media (min-width: 1500px) {
    .title-habilidades{
        width: 93rem;
    }
}
@media (min-width: 1520px) {
    .title-habilidades{
        width: 90rem;
        margin-left: 3.7rem;
    }
}
@media (min-width: 1540px) {
    .title-habilidades{
        margin-left: 4rem;
    }
}
@media (min-width: 1560px) {
    .title-habilidades{
        margin-left: 5rem;
    }
}
@media (min-width: 1580px) {
    .title-habilidades{
        margin-left: 6rem;
    }
}
@media (min-width: 1595px) {
    .title-habilidades{
        margin-left: 6.5rem;
    }
}
@media (max-width: 844px) {
    .vector-naranja-habilidades{
        width: 13.3rem;
        left: -3.9rem;
    }
    .scrolling-wrapper-flexbox {
        margin-right: 9rem;
        margin-left: 5rem;
    }
}
@media (max-width: 615px) {
    .scrolling-wrapper-flexbox {
        margin-right: 1rem;
        margin-left: 30%;
    }
}
@media (max-width: 412px) {
    .vector-naranja-habilidades{
        width: 530%;
        left: -3.9rem;
    }
    .scrolling-wrapper-flexbox {
        margin-right: 1rem;
        margin-left: 30%;
    }
}
@media (max-width: 350px) {
    .vector-naranja-habilidades{
        width: 10rem;
        left: -3.9rem;
        top: -3%;
    }
    .scrolling-wrapper-flexbox {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
