.container-all-habilidades{
    width: 100%;
    margin: 0rem auto;
    max-width: 1700px;
    position: relative;
}
.posicion-title-habilidades{
    position: absolute;
    margin: 0rem auto;
}
.container-habilidades{
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: end;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: 16%;
    margin-left: 0%;
    margin-top: 9rem;
}
.card {
    flex: 0 0 auto;
}
.card h3{
    margin: 1rem 1rem 1.5rem 1rem;
}
.card p{
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    color: #adadad;
    font-size: 0.86rem;
}
.card{
    background-color: #fef2f2;
    width: 13rem;
    height: 17rem;
    margin-right: 1rem;
}
.card-text{
    margin: 0; 
    padding: 0rem 1rem 1rem 1rem;
}
.title-habilidades{
    position: absolute;
    width: 50rem;
    margin: 0rem auto;
    top: 47.86%;
    left: 23.7%;
    z-index: 302;
    background-color: aqua;
}
.title-habilidades h2{
    font-size: 2.9rem;
    color: #286f6c;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.title-habilidades span{
    color: white;
}
.container-vectores{
    position: relative;
    width: 30%;
}
.vector-naranja-habilidades{
    position: absolute;
    width: 114%;
    top: 0%;
    left: -35%;
    z-index: 301;
}
.v-n-h{
    width: 100%;
}
@media (max-width: 1078px) {
    .title-habilidades{
        left: 36%;
    }
}
@media (max-width: 930px) {
    .title-habilidades{
        left: 30%;
    }
}
@media (max-width: 839px) {
    .title-habilidades{
        left: 3.7rem;
    }
}
@media (max-width: 589px) {
    .title-habilidades{
        width: 100%;
    }
}
@media (max-width: 413px) {
    .title-habilidades{
        left: 3rem;
    }
}
@media (max-width: 400px) {
    .title-habilidades{
        left: 2.9rem;
    }
    .title-habilidades h2{
        font-size: 2.5rem;
    }
}
@media (max-width: 388px) {
    .title-habilidades{
        left: 2.1rem;
    }
}
@media (max-width: 372px) {
    .title-habilidades{
        left: 2.4rem;
    }
    .title-habilidades h2{
        font-size: 2rem;
    }
}
@media (max-width: 367px) {
    .title-habilidades{
        left: 2rem;
    }
}
@media (max-width: 350px) {
    .title-habilidades{
        left: 1.7rem;
    }
}
@media (max-width: 844px) {
    .vector-naranja-habilidades{
        width: 13.3rem;
        left: -3.9rem;
    }
    .scrolling-wrapper-flexbox {
        margin-right: 9rem;
        margin-left: 5rem;
    }
}
@media (max-width: 615px) {
    .scrolling-wrapper-flexbox {
        margin-right: 1rem;
        margin-left: 30%;
    }
}
@media (max-width: 412px) {
    .vector-naranja-habilidades{
        width: 530%;
        left: -3.9rem;
    }
    .scrolling-wrapper-flexbox {
        margin-right: 1rem;
        margin-left: 30%;
    }
}
@media (max-width: 350px) {
    .vector-naranja-habilidades{
        width: 10rem;
        left: -3.9rem;
        top: -3%;
    }
    .scrolling-wrapper-flexbox {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
